atlassian-python-api==2.7.0
certifi==2020.6.20
chardet==3.0.4
colorama==0.4.3
commonmark==0.9.1
idna==2.10
invoke==1.5.0
oauthlib==3.1.0
pprintpp==0.4.0
Pygments==2.6.1
python-dateutil==2.8.1
rich==6.1.1
six==1.15.0
typing-extensions==3.7.4.2
urllib3==1.25.9
dohq-artifactory==0.7.534
azure-graphrbac==0.61.1
azure-mgmt-compute==19.0.0
azure-cli-core==2.21.0
simple-rest-client==1.0.7
azure-keyvault==4.1.0
azure-identity==1.5.0
jinja2==3.0.0a1
kubernetes==12.0.0
